{% extends "base.html" %}

{% block title %}
    My Cat Blog 
{% endblock %}

{% block content %}
    <header id="main-nav"> 
       <h1><a href=""> Albam the orange cat </a></h1> 
        <nav>
            <a href=""> All posts</a>
        </nav>
    </header>

   <section id="welcome">
     <header>
      <img src="" alt="my cats"/>
      <h2> My two cats are so cute!</h2>
      <p> I have albam and happy they are so so cute</p>
     </header>
    </section>

    <section id="latest-post">
        <h2>Happy the chaos cat </h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="cutest-cat"/>
                        <div class="post_content">
                            <h3>cutie pie </h3>
                        </div>
                    </a>

                </article>
            </li>
        </ul>
    </section>

    <section>
        <h2>
            what i do 
        </h2>
        <p>
            i love my two cats a lot they make me so happy 
        </p>
    </section>
{% endblock %}