ul {
    background-color: aliceblue;
    list-style : none;
    margin : 2rem auto;
    width : 90%;
    max-width : 50rem;
    box-shadow : 0 2px 8px rgba(0, 0, 0, 26);
    padding : 1rem;
    border-radius : 12px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20rem;
    color: rgb(190, 1, 48);
}

li {
margin : 1rem 0;
text-align : center;
}

li:a :hover{
    color: brown;
}

li:last-of-type
, li:nth-of-type(6){
    border-bottom: none;
}

li a {

    text-decoration: none;
}